In [2]:
%matplotlib
import matplotlib.pyplot as plt
import numpy as np
plt.plot(np.arange(10))

Using matplotlib backend: Qt5Agg

In [3]:
import pandas as pd

In [4]:
stocks = pd.Series([12,10,8,-6,4], index=[
    'fennel','corriander','tamarid','pepper','cumin'
])

In [5]:
if stocks['tamarid']>5:
    print('safe')
else:
    print("alerttttt")

safe

In [23]:
print(stocks[stocks>5])
print(stocks.values)
print(2*stocks[stocks>0])

fennel        12
corriander    10
tamarid        8
dtype: int64
[12 10  8 -6  4]
fennel        24
corriander    20
tamarid       16
cumin          8
dtype: int64

In [25]:
df = pd.DataFrame({'qty':[12,11,19,10,15,19],
                  'fg': ['wh','pd','sq','pd','wh','pd'],
                   'st':['pb','tn','mh','ka','mh','wb']
                    },index =[98,99,2001,97,2002,2005])
df

      qty  fg  st
98     12  wh  pb
99     11  pd  tn
2001   19  sq  mh
97     10  pd  ka
2002   15  wh  mh
2005   19  pd  wb

In [29]:
print(df.loc[98])

qty    12
fg     wh
st     pb
Name: 98, dtype: object

In [9]:
obj = pd.Series(['pd','wh','sc'],index=[0,4,8])
print(obj.reindex(range(11),method='ffill'))

0     pd
1     pd
2     pd
3     pd
4     wh
5     wh
6     wh
7     wh
8     sc
9     sc
10    sc
dtype: object

In [12]:
obj = pd.Series(['pd','wh','sc'],index=[2,7,10])
print(obj)
print(obj.reindex(range(11),method='bfill'))

2     pd
7     wh
10    sc
dtype: object
0     pd
1     pd
2     pd
3     wh
4     wh
5     wh
6     wh
7     wh
8     sc
9     sc
10    sc
dtype: object

In [13]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'])
frame2 = frame.reindex(['a','b','c','d'])
states = frame.reindex(['a','b','c','d'])

In [14]:
print(obj.reindex(range(11),method='bfill',limit=2))

0      pd
1      pd
2      pd
3     NaN
4     NaN
5      wh
6      wh
7      wh
8      sc
9      sc
10     sc
dtype: object

In [16]:
print(df.reindex.__doc__)

Conform DataFrame to new index with optional filling logic, placing
NA/NaN in locations having no value in the previous index. A new object
is produced unless the new index is equivalent to the current one and
copy=False

Parameters
----------
labels : array-like, optional
    New labels / index to conform the axis specified by 'axis' to.
index, columns : array-like, optional (should be specified using keywords)
    New labels / index to conform to. Preferably an Index object to
    avoid duplicating data
axis : int or str, optional
    Axis to target. Can be either the axis name ('index', 'columns')
    or number (0, 1).
method : {None, 'backfill'/'bfill', 'pad'/'ffill', 'nearest'}, optional
    method to use for filling holes in reindexed DataFrame.
    Please note: this is only applicable to DataFrames/Series with a
    monotonically increasing/decreasing index.

    * default: don't fill gaps
    * pad / ffill: propagate last valid observation forward to next
      valid
    * backfill / bfill: use next valid observation to fill gap
    * nearest: use nearest valid observations to fill gap

copy : boolean, default True
    Return a new object, even if the passed indexes are the same
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level
fill_value : scalar, default np.NaN
    Value to use for missing values. Defaults to NaN, but can be any
    "compatible" value
limit : int, default None
    Maximum number of consecutive elements to forward or backward fill
tolerance : optional
    Maximum distance between original and new labels for inexact
    matches. The values of the index at the matching locations most
    satisfy the equation ``abs(index[indexer] - target) <= tolerance``.

    Tolerance may be a scalar value, which applies the same tolerance
    to all values, or list-like, which applies variable tolerance per
    element. List-like includes list, tuple, array, Series, and must be
    the same size as the index and its dtype must exactly match the
    index's type.

    .. versionadded:: 0.21.0 (list-like tolerance)

Examples
--------

``DataFrame.reindex`` supports two calling conventions

* ``(index=index_labels, columns=column_labels, ...)``
* ``(labels, axis={'index', 'columns'}, ...)``

We *highly* recommend using keyword arguments to clarify your
intent.

Create a dataframe with some fictional data.

>>> index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
>>> df = pd.DataFrame({
...      'http_status': [200,200,404,404,301],
...      'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
...       index=index)
>>> df
           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

Create a new index and reindex the dataframe. By default
values in the new index that do not have corresponding
records in the dataframe are assigned ``NaN``.

>>> new_index= ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10',
...             'Chrome']
>>> df.reindex(new_index)
               http_status  response_time
Safari               404.0           0.07
Iceweasel              NaN            NaN
Comodo Dragon          NaN            NaN
IE10                 404.0           0.08
Chrome               200.0           0.02

We can fill in the missing values by passing a value to
the keyword ``fill_value``. Because the index is not monotonically
increasing or decreasing, we cannot use arguments to the keyword
``method`` to fill the ``NaN`` values.

>>> df.reindex(new_index, fill_value=0)
               http_status  response_time
Safari                 404           0.07
Iceweasel                0           0.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

>>> df.reindex(new_index, fill_value='missing')
              http_status response_time
Safari                404          0.07
Iceweasel         missing       missing
Comodo Dragon     missing       missing
IE10                  404          0.08
Chrome                200          0.02

We can also reindex the columns.

>>> df.reindex(columns=['http_status', 'user_agent'])
           http_status  user_agent
Firefox            200         NaN
Chrome             200         NaN
Safari             404         NaN
IE10               404         NaN
Konqueror          301         NaN

Or we can use "axis-style" keyword arguments

>>> df.reindex(['http_status', 'user_agent'], axis="columns")
           http_status  user_agent
Firefox            200         NaN
Chrome             200         NaN
Safari             404         NaN
IE10               404         NaN
Konqueror          301         NaN

To further illustrate the filling functionality in
``reindex``, we will create a dataframe with a
monotonically increasing index (for example, a sequence
of dates).

>>> date_index = pd.date_range('1/1/2010', periods=6, freq='D')
>>> df2 = pd.DataFrame({"prices": [100, 101, np.nan, 100, 89, 88]},
...                    index=date_index)
>>> df2
            prices
2010-01-01     100
2010-01-02     101
2010-01-03     NaN
2010-01-04     100
2010-01-05      89
2010-01-06      88

Suppose we decide to expand the dataframe to cover a wider
date range.

>>> date_index2 = pd.date_range('12/29/2009', periods=10, freq='D')
>>> df2.reindex(date_index2)
            prices
2009-12-29     NaN
2009-12-30     NaN
2009-12-31     NaN
2010-01-01     100
2010-01-02     101
2010-01-03     NaN
2010-01-04     100
2010-01-05      89
2010-01-06      88
2010-01-07     NaN

The index entries that did not have a value in the original data frame
(for example, '2009-12-29') are by default filled with ``NaN``.
If desired, we can fill in the missing values using one of several
options.

For example, to backpropagate the last valid value to fill the ``NaN``
values, pass ``bfill`` as an argument to the ``method`` keyword.

>>> df2.reindex(date_index2, method='bfill')
            prices
2009-12-29     100
2009-12-30     100
2009-12-31     100
2010-01-01     100
2010-01-02     101
2010-01-03     NaN
2010-01-04     100
2010-01-05      89
2010-01-06      88
2010-01-07     NaN

Please note that the ``NaN`` value present in the original dataframe
(at index value 2010-01-03) will not be filled by any of the
value propagation schemes. This is because filling while reindexing
does not look at dataframe values, but only compares the original and
desired indexes. If you do want to fill in the ``NaN`` values present
in the original dataframe, use the ``fillna()`` method.

See the :ref:`user guide <basics.reindexing>` for more.

Returns
-------
reindexed : DataFrame

In [17]:
print(df.drop('fg',axis=1))

      qty  st
98     12  pb
99     11  tn
2001   19  mh
97     10  ka
2002   15  mh
2005   19  wb

fennel        12
corriander    10
tamarid        8
dtype: int64
[12 10  8 -6  4]
fennel        24
corriander    20
tamarid       16
cumin          8
dtype: int64